#cart {
    top:20px;
    right: 20px;
    position: fixed;
    font-size: 24px;
    cursor: pointer;
}

#cartDropdown {
    top:60px;
    right: 20px;
    display: none;
    position: fixed;
    font-size: 24px;
    border: solid 1px black;
    background: white;
    z-index:100;
    padding: 10px;
    min-width: 200px;
}